body {
	background-color: #263997;
	color: #fff;
	font-family: helvetica;
}

#contents {
	width: 100%;
}

#title {
	width: 20%;
  	margin: 0 auto;
}

.letters {
	background-color: #fff;
	color: #263997;
	float: left;
	font-size: 25px;
	font-weight: bold;
	width: 20px;
	height: 20px;
	padding: 10px;
	margin: 5px;
}
.letterBox{
	float: left;
	width: 25px;
	margin-right: 10px;
	border-bottom: 3px solid white;
}
.letterUsed {
	background-color: #fff;
	opacity: 0.7;
	color: #263997;
	font-size: 25px;
	font-weight: bold;
	float: left;
	width: 20px;
	height: 20px;
	padding: 10px;
	margin: 5px;
}

#word {
	font-size: 30px;
	clear: both;
	
}

.letterAnswer {
	font-weight: bold;
	height: 10px;
	opacity: 0;
}

.letterCorrect {
	font-weight: bold;
	height: 10px;



}
